<html>
	<head>
		<title>Fictional</title>
	</head>

	<body>
		<h1>The Partridge Family (1970-1974)</h1>
		<p>At the start of the Me decade, "The Partridge Family" was a clean cut, folksy show about a large family who became accidental pop stars when a widowed suburbanite mom stepped up to the mic in the garage one day. In Partridge-land, mom Shirley and siblings Keith, Laurie, Danny, Christopher and Tracy had to grapple with balancing their on-stage duties and touring the country in a garishly colored bus with typical teen and pre-teen angst storylines.</p>

		<h1>The Blues Brothers (1980)</h1>
		<p>The John Belushi and Dan Aykroyd team-up originated on "Saturday Night Live" as a bit (in bee suits) but they honed their performance, and iconic black suits and fedoras, on and off the screen. These characters would shape into "Joliet" Jake Blues (Belushi) and his brother Ellwood (Aykroyd). The story was a classic "getting the band together back together" fable, only the exciting twist was the Blues Brothers gang was made up entirely of famous soul and blues artists.</p>

		<h1>Ladies and Gentlemen, the Fabulous Stains (1982)</h1>
		<p>"Ladies and Gentlemen, the Fabulous Stains" first caught on with viewers of the early 80s music show "Night Flight" then it went on to become a cult curio admired by the next generation of female punk musicians in the Riot Grrrl movement. Teenaged Laura Dern and Diane Lane, adorable in their new wave get-ups, are members of the extremely amateur garage band the Fabulous Stains, who improbably rise to stardom.</p>

		<h1>Eddie and the Cruisers (1983)</h1>
		<p>Until writing this entry, and reading how hard-won its cult status was for Davidson (and why it was on HBO so much). For me, it's one of those random movies that I just happened see it once, and so it became a touchstone for me, it's why I always rooted for it's co-star Tom Berenger, who played the band's lyricist, it's how I first head of the 19-century French poet Arthur Rimbaud (whose work inspired Eddie write the lost album).</p>

		<h1>This is Spinal Tap (1984)</h1>
		<p>Even before the 1984 cult hit film "This is Spinal Tap" there was Spinal Tap, the band, renowned as "one of England's loudest bands". Harry Shearer, Christopher Guest and Michael Mckean played, respectively, band members Derek Smalls, Nigel Tufnel and David St. Hubbins, an overblown, pretentious and hilarious trio of hair-metal rockers. In a nod to some notable rock drummers who died prematurely, Spinal Tap's 18 drummers all met met gruesome fates such as spontaneously combusting.</p>

		<h1>The Beets from Doug (1991-1994)</h1>
		<p>"Doug" was a sensitive cartoon about an endearingly average young boy who spends plenty of time daydreaming about his favorite rockers, The Beets. The Beatles-inspired group released several anthems that burrowed deep into the brains of millennials fans. But the songwritting and performances were strong enough to help the tunes stand on their own beyond the show.</p>

		<h1>Crucial Taunt from Wayne's World (1992)</h1>
		<p>"Wayne's World" is one of the funniest rock movies ever and Crucial Taunt is a fake band epic enough to have musical moments that stand alongside classics from acts like Queen and Alice Cooper. The group is led by Cassandra (Tia Carrere), the dream woman of Wayne (Mike Myers), and the actress real voice gives the songs a big edge.</p>

		<h1>Stillwater from Almost Famous (2000)</h1>
		<p>When aspiring young journalist William Miller, played by Patrick Fugit, wants to break into Rolling Stone with a band profile, he wisely sets his sights on interviewing Stillwater, they are not exactly Black Sabbath, but they're perfect for the budding rock journalist to cut his teeth on. An extravagantly-mustached Billy Crudup is the guitarist and Jason Lee the lead singer of Stillwater. They play straight-up, blues-tinged good old American rock'n roll and expect a fair amount of adultation from groupies and journalists alike.</p>

	<br/><br/>

	<br>Other pages :</br>
	<br/>
	<a href="{% url 'fictional_bands:fiction' %}"> fiction </a>
	<br/><br/>
	<a href="{% url 'fictional_bands:voting' %}"> vote </a>
	</body>
</html>